@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/**The style for the backend-page**/
.prod-img {
    width: 40%;
    border: #707070 1px solid;
}

.post {
    background-color: rgb(167, 158, 213);
    margin: 2em;
    text-align: center;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    border: #E6EDF5 2px solid;

}

body {
    background-color: #FAFAFA;

}

.EditBtn {
    background-color: #5F5F5F;
    color: #F5F5F5;
    text-transform: capitalize;
    font-size: 16px;
    padding: 8px 20px 8px 20px;
    border-radius: 8%;
    font-weight: 700;
}



/* /////// medium screen sizes /////// */
@media all and (min-width:750px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-gap: 1em;
        margin: 1em;
    }


}

/*///// large screen styling /////////*/
@media all and (min-width:1080px) {}
